.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container-Albums-color) ;
    width: 80%;
    margin: 3rem auto;
    padding-top:2rem;
}
@media  (max-width: 700px){
    .container{
        width: 100%;
    }
    
}