body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --nav-bg-color: #2C2C2C;
  --log-btn-color: #2C2C2C;
<<<<<<< Updated upstream
  --box-album-color1:#e92058;
  --box-album-color2:#205c68 ;
  --box-album-color3:#875fa8 ;
=======
  --box-album-color1:#875fa8 ;
  --box-album-color2:#e92058;
  --box-album-color3:#205c68 ;
  --container-Albums-color:#faeee7;
>>>>>>> Stashed changes
}
