body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --nav-bg-color: #2C2C2C;
  --log-btn-color: #2C2C2C;
  --box-album-color1:#875fa8 ;
  --box-album-color2:#e92058;
  --box-album-color3:#205c68 ;
  --search-hover-color:#e92058;
}
