.container{
    position: fixed;
    display:flex;
    background-color: var(--nav-bg-color);
    height: 3rem;
    width: calc(100% - 4rem);
    align-items: center;
    justify-content: start;
    margin-top: 0px;
    gap: 2rem;
    padding:0 2rem;
    position: fixed;
    top: 0;
    z-index: 100;
}
.loginButton{
    font-weight: 500;
    color: var(--log-btn-color);
    width:6rem;
    height: 1.5rem;
    border-radius: 0.4rem;

    background-color: white;
    border: 1px solid white;
    margin-left: auto;
}
.loginButton:hover{
    transition: all 0.5s;
    background-color:var(--log-btn-color);
    color: white;
}
.otherButtons{
    font-weight: 500;
    color: var(--log-btn-color);
    width:6rem;
    height: 1.5rem;

    border-radius: 0.4rem;

    background-color: white;
    border: 1px solid white;
}
.otherButtons:hover{
    transition: all 0.5s;
    background-color:var(--log-btn-color);
    color: white;
}